.centre
{
	text-align:center;
}
.card
{
	padding-top: 10px;
	padding-left: 10px;
}
.arrow-link
{
	float: right;
}
p
{
	word-wrap:break-word;
}
.navbar-link
{
	font-size: 1.2em;
}
label
{
	padding-right: 30px;
}