table
{
	background-color: white;
}
.centre
{
	text-align:center;
}
.cache
{
	display:none;
}
.doublecentre
{
	text-align:center;
	vertical-align: middle;
}
.erreur
{
	border:#a94442 1px solid;
	border-radius: 4px;
	background-color: #f2dede;
	font-size: 1.2em;
	padding-top:6px;
	padding-bottom: 6px; 
}
